extends layout
block content
	.container
		h1.semi Profile Details
		//- h3 Hi, #{currentUser.name}
		h5.edit Edit your profile here.
		if success_msg
		h5.edit= success_msg

		.flex-center
			.seven.columns
				form#team(action="/team" method="POST")
					h4.semi= currentUser.name
					label.edit(for="") Social Security Number
					input(type="text" disabled value=currentUser.socialSecurity)
					label(for="") Username
					input(type="text" value=currentUser.username name="username")
					label(for="") Email
					input(type="text" value=currentUser.email name="email")
					label(for="") Address
					input(type="text" value=currentUser.address name="address")

					br
					.flex-center
						button(type="submit" style="margin-top: 2em").cool Save changes